* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 100px;
    top: 100%;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    background-color: #ddd;
}

.nav-item:hover .dropdown {
    display: block;
}

.senhaAtual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #003a5f;
    color: white;
    margin: 20px auto 10px auto;
    padding: 10px 20px;
    max-width: 800px;
    width: 90%;
    position: relative;
    height: 200px;
    

    /*gap: 10px;*/
    /*border-radius: 8px;*/

}

/* Container para manter "ORDEM" e número lado a lado */
.senhaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaçamento entre ORDEM e número */
    
}

.senhaAtualTexto{
    font-size: 15pxpx;
    font-weight: 10;
    margin-top: 0px;
    margin-bottom: 9;
}

#senhaAtualNumero{
    font-size: 100px;
    font-weight: 900;
    margin: 0;

}


.ultimaSenha {
    font-weight: 800;
    text-align: center;
    background-color: #c6c6c6;
    padding: 100px 20px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

#ultimaSenhaTexto {
    font-size: 20px;
    color: #2b2828;
    text-align: center;
}

#ultimaSenhaNumero {
    font-size: 40px;
    color: white;
}

.PJFLogo {
    max-width: 150px;
}

.sisuLogo {
    max-width: 400px;
}

.PJFTexto {
    font-size: 27pt;
    font-weight: 800;
    color: #003a5f;
}

.subtitulo {
    font-size: 25px;
    font-weight: 400;
}

audio {
    display: none;
}

.inputEscondido {
    display: none;
    width: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid #a50;
    background: white;
    color: black;
}
